#div_with_game {
	position: relative;	
}

.cell {
	position: absolute;
	border: 1px solid black;
}

#barley_break {
	position: absolute;

	border: 1px solid blue;
}

#barley_break_move {
	position: absolute;
	display: none;

}