﻿<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

<div id="div_with_game">
	<div id="for_message"></div>
	<canvas id="barley_break"></canvas>
	<canvas id="barley_break_move"></canvas>
</div>